body {
  font-size: 18px;
  color: cornsilk;
  background-color: black;
}

img {
  width: 50%; 
  margin: 0.5rem;
}

img:hover {
  opacity: 60%;
}

#wrapper, 
h1,
h2 {
  text-align: center;
}

#choice-menu-container {
  margin-bottom: 3rem;
}



