body {
  font-size: 18px;
  color: cornsilk;
  background-color: black;
}

img {
  width: 100%; 
  margin: 0.5rem;
}

#wrapper, 
h1,
h2 {
  text-align: center;
}

#return-to-top,
a {
  text-align: center;
  color: cornsilk;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  color:crimson; 
}

#choice-menu-container {
  margin-bottom: 3rem;
}

#displayFilteredImageBtn, 
#displayGalleryBtn,
#addFiltersBtn {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}




